body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overflowed-div {
  width: 400%;
  height: 100%;
}

.block {
  width: 25%;
  height: 100%;
  float: left;
}

.selected {
  background: #fff;
  font-weight: 700;
}

#block1{
    background: red;
}

#block2{
    background: aqua;
}

#block3{
    background: pink;
    overflow-y: scroll;
}

#block4{
    background: yellow;
}
